{{#> base title="Debug Ingest" }}

    {{#*inline "body-block"}}
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-3 h-100 bg-light border-end overflow-auto">
                    <h1 class="mt-2 fs-6 text-center text-uppercase">Entities</h1>

                    <ul class="list-unstyled">
                        {{#each entities}}
                            <li>
                                <label>
                                    <input type="checkbox" name="{{id}}_debug" />
                                    {{name}}
                                </label>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col" id="main">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
            </div>
        </div>
    {{/inline}}

{{/base}}
