{{#> base title="Debug Ingest" }}
    {{#*inline "head-block"}}
        <link rel="stylesheet" href="/public/debug.css" />
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://unpkg.com/d3-dag@0.8.2"></script>
        <script src="/public/debug.js"></script>
    {{/inline}}

    {{#*inline "body-block"}}
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-3 h-100 overflow-auto bg-light border-end">
                    <h1 class="mt-2 fs-6 text-center text-uppercase">Entities</h1>

                    <ul class="list-unstyled" id="entity-list">
                        {{#each entities}}
                            <li data-entity-type="{{entity_type}}" data-entity-id="{{entity_id}}">
                                <label>
                                    <input type="checkbox" name="{{entity_id}}_debug" />
                                    {{description}}
                                </label>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col h-100 overflow-auto" id="main">

                </div>
            </div>
        </div>
    {{/inline}}

{{/base}}
