{{#> base title="Latest Ingest" }}

    {{#*inline "content-block"}}
        <p>Started {{ ingest_started_at }}</p>

        <ul class="logs">
            {{#each logs}}
                <li class="log-message">
                    <p>{{ log.message }}</p>
                    {{#if approval}}
                        {{> approvals-partial approval from_route="index" }}
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    {{/inline}}

{{/base}}
