{{#> base title="Latest Ingest" }}

    {{#*inline "content-block"}}
        <p>Started {{ ingest_started_at }}</p>

        <ul>
            {{#each logs}}
                <li>
                    <p>{{ log.message }}</p>
                    {{#if approval}}
                        <p>{{> approvals-partial approval from_route="index" }}</p>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    {{/inline}}

{{/base}}
